/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

table{
  font-family: 'Montserrat', sans-serif !important;

}

.fm-video .vjs-control-bar {
  background-color: white !important ; 
  color: #5600cc !important
}

.fm-video .vjs-play-progress{
  background-color: #5300c3 !important;
}

.fm-video .vjs-slider,
.fm-video .vjs-volume-level{
  background-color: #320076 !important;
}

.video-js{
  width: auto !important;
  height: auto !important;
}

.vjs-modal-dialog-content{
  display: flex !important;
  justify-content: center !important;
}

.vjs-modal-dialog-content .container-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.vjs-poster{
  background-color: transparent !important;
}

.question-modal .vjs-close-button{
  display: none !important;
}

.vjs-modal-dialog-content .contenedor{
  background: linear-gradient( 180deg, rgb(255, 255, 255) 0%, rgba(230,230,230,1) 60%,rgba(205,205,205,1) 100%) !important;
  height: calc(100% + 200px) !important;
  width: 80% !important;
  border-radius: 20px;
  color: black;
  padding: 60px;
  display: flex;
  flex-direction: column;
  // overflow: auto !important;
}

.contenedor #z1{
  max-width: 450px;
  max-height: 400px;
  align-self: center;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
  border-radius: 15px;
  margin-top: 20px;
  // transform: scale(1);
  transition: .3s all

}

img:hover {
  transform: scale(1.5);
  transition: .3s all
}

.contenedor h1{
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.contenedor h2,
.contenedor h2 a {
  // font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.contenedor p{
  font-size: 20px;
  margin-top: 20px;
}

.contenedor a{
  font-size: 20px;
  margin-top: 20px;
  color: dodgerblue;
}

.contenedor table{
  border: 1px solid black;
  text-align: center;
  font-size: 16px;
}

.contenedor table td{
  border: 1px solid black;
  text-align: center;
  width: 300px;
}

.contenedor table th{
  border: 1px solid black;
  text-align: center;
  width: 300px;
}

.contenedor table img{
  width: 100%;
  height: auto;
}

.contenedor .horizontal-container{
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.horizontal-container .img{
  display: flex;
  gap: 10px;
}

.img img{
  max-width: 12rem;
  max-height: 10rem;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
  border-radius: 15px;
  transition: .3s all;
}

.horizontal-container .info{
  display: flex;
  flex-direction: column;
}

.info h4{
  text-align: center;
}

.contenedor .btn-container {
  margin-top: 20px;
  display: block;
  justify-content: left;
}

.btn-container button {
  // width: 300px !important;
  font-size: 18px !important;
  background: transparent !important;
  overflow: hidden;
  display: block;
  position: relative;
  z-index: 5;
  transition: .3s all;
  max-width: 500px;
  text-align: left;
  // color: white !important;
  // justify-content: center !important;
}


.btn-container .btn-success{
  background: #00c853 !important;
  color: white !important;
}

.btn-container .btn-fail{
  background: #d50000 !important;
  color: white !important;
}

.btn-container .btn-default:after {
  content: "";
  background-color: #2e006e;
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transition: .3s;
  width: 0;
  z-index: -1;
}

.btn-container .btn-default:hover {
  border-color: #42009e;
  color: #FFFFFF;
}

.btn-container .btn-default:hover:after {
  background-color: #42009e;
  border-radius: 50%;
  left: -50px;
  top: -50px;
  width: 800px;
  height: 200px;
}

.boton-info {
  // background: rgb(255,255,255);
  background: linear-gradient( 180deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 60%,rgba(205,205,205,1) 100%) !important;
  color: black !important;
  height: 80px;
  width: 250px;
  border-radius: 25px;
  position: absolute;
  top: 30px;
  left: 30px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: .3s;
}

.boton-info h1{
  font-size: 20px !important;
  font-weight: bold !important;
}

.boton-info p{
  font-size: 16px !important;
}

.boton-info:hover {
  transform: scale(1.2);
  transition: .3s;
}

.video-js .raspberry-btn {
  position: absolute;
  top: 25%;
  left: 33%;
}

.raspberry-btn img{
  width: 450px;
  height: 400px;
  transition: .3s all;
}

.img-componente{
  position: absolute;
}

.img-componente img{
  transition: .3s all;
}

.img-componente-size {
  max-width: 18rem;
  max-height: 15rem;
}

.placa-base{
  top: 150px;
  left: 240px;
}

.procesador {
  top: 140px;
  left: 640px;
}
#img-procesador{
  width: 15rem;
  height: 12rem
}

.fuente {
  top: 140px;
  left: 1100px;
}

.ram{
  top: 530px;
  left: 1100px;
}

.disco {
  top: 520px;
  left: 210px;
}


// .boton-info:hover {
//   background-color: #e0e0e0 !important;
//   color: black !important;
//   box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
//   transition: 0.5s ease-in-out;
// }


/* Importing Bootstrap SCSS file. */
@import '../node_modules/bootstrap/scss/bootstrap';

/* Importing Videojs SCSS file. */
@import '../node_modules/video.js/src/css/video-js';

/* Importing AppComponent SCSS file. */
@import './app/app.component.scss';

/* Importing CoreUI SCSS file. */

