<div *ngIf="router.url === '/inicio'; else elseBlock" class="vertical-center text-white ms-5 ps-3">
    <div>
        <h1 class="fs-1">¡Bienvenido!</h1>
        <h2 class="fw-light mt-3">¿Quieres aprender cómo funciona un ordenador de forma interactiva?</h2>
        <!-- <a routerLink="/video" routerLinkActive="active" class="mt-2 text-white fs-3">!Haz click aquí!</a> -->
        <button (click)="navigateToVideo()" class="text-white fs-3 mt-3">¡Haz click aquí!</button>
    </div>
</div>

<ng-template #elseBlock>
    <router-outlet></router-outlet>
</ng-template>